In [26]:
import pandas as pd

ap_col = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Lat', 'Log', 'Alt', 'Timezone', 'DST', 'TZ Database', 'Type', 'Source']
airports = pd.read_csv('./data/airports.dat.txt', header=None, names=ap_col, index_col = 0)
print(airports)

rt_col = ['Airline', 'Airline ID', 'Source Airport', 'Src Airport ID', 'Dest Airport', 'Dest Airport ID', 'Codeshare', 'Stops', 'Equipment']
routes = pd.read_csv('./data/routes.dat.txt', header=None, names=rt_col, index_col = 0)
print(routes)

      Airport ID                                         Name          City  \
0              1                               Goroka Airport        Goroka
1              2                               Madang Airport        Madang
2              3                 Mount Hagen Kagamuga Airport   Mount Hagen
3              4                               Nadzab Airport        Nadzab
4              5  Port Moresby Jacksons International Airport  Port Moresby
...          ...                                          ...           ...
7693       14106                          Rogachyovo Air Base        Belaya
7694       14107                        Ulan-Ude East Airport      Ulan Ude
7695       14108                         Krechevitsy Air Base      Novgorod
7696       14109                  Desierto de Atacama Airport       Copiapo
7697       14110                           Melitopol Air Base     Melitopol

               Country IATA  ICAO        Lat         Log   Alt Timezone DST  \
0     Papua New Guinea  GKA  AYGA  -6.081690  145.391998  5282       10   U
1     Papua New Guinea  MAG  AYMD  -5.207080  145.789001    20       10   U
2     Papua New Guinea  HGU  AYMH  -5.826790  144.296005  5388       10   U
3     Papua New Guinea  LAE  AYNZ  -6.569803  146.725977   239       10   U
4     Papua New Guinea  POM  AYPY  -9.443380  147.220001   146       10   U
...                ...  ...   ...        ...         ...   ...      ...  ..
7693            Russia   \N  ULDA  71.616699   52.478298   272       \N  \N
7694            Russia   \N  XIUW  51.849998  107.737999  1670       \N  \N
7695            Russia   \N  ULLK  58.625000   31.385000    85       \N  \N
7696             Chile  CPO  SCAT -27.261200  -70.779198   670       \N  \N
7697           Ukraine   \N  UKDM  46.880001   35.305000     0       \N  \N

               TZ Database     Type       Source
0     Pacific/Port_Moresby  airport  OurAirports
1     Pacific/Port_Moresby  airport  OurAirports
2     Pacific/Port_Moresby  airport  OurAirports
3     Pacific/Port_Moresby  airport  OurAirports
4     Pacific/Port_Moresby  airport  OurAirports
...                    ...      ...          ...
7693                    \N  airport  OurAirports
7694                    \N  airport  OurAirports
7695                    \N  airport  OurAirports
7696                    \N  airport  OurAirports
7697                    \N  airport  OurAirports

[7698 rows x 14 columns]
      Airline Airline ID Source Airport Src Airport ID Dest Airport  \
0          2B        410            AER           2965          KZN
1          2B        410            ASF           2966          KZN
2          2B        410            ASF           2966          MRV
3          2B        410            CEK           2968          KZN
4          2B        410            CEK           2968          OVB
...       ...        ...            ...            ...          ...
67658      ZL       4178            WYA           6334          ADL
67659      ZM      19016            DME           4029          FRU
67660      ZM      19016            FRU           2912          DME
67661      ZM      19016            FRU           2912          OSS
67662      ZM      19016            OSS           2913          FRU

      Dest Airport ID Codeshare  Stops Equipment
0                2990       NaN      0       CR2
1                2990       NaN      0       CR2
2                2962       NaN      0       CR2
3                2990       NaN      0       CR2
4                4078       NaN      0       CR2
...               ...       ...    ...       ...
67658            3341       NaN      0       SF3
67659            2912       NaN      0       734
67660            4029       NaN      0       734
67661            2913       NaN      0       734
67662            2912       NaN      0       734

[67663 rows x 9 columns]

In [3]:
routes.Codeshare.unique()

array([nan, 'Y'], dtype=object)

In [15]:
len(routes['Src Airport ID'].unique())

3321

In [16]:
len(routes['Source Airport'].unique())

3409

In [19]:
route_array = routes['Source Airport']
lengths_4 = len([len(x) for x in route_array if len(x) == 4])
print(lengths_4)

0

No source airport codes with 4 digits

In [20]:
dest_array = routes['Dest Airport ID']
ap_lengths_4 = len([len(x) for x in dest_array if len(x) == 4])
print(ap_lengths_4)

55739

In [21]:
dest_array = routes['Dest Airport ID']
ap_lengths_3 = len([len(x) for x in dest_array if len(x) == 3])
print(ap_lengths_3)

11001

Destination airport codes has a mix of 3 and 4 digit codes.

In [23]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
Airline            67663 non-null object
Airline ID         67663 non-null object
Source Airport     67663 non-null object
Src Airport ID     67663 non-null object
Dest Airport       67663 non-null object
Dest Airport ID    67663 non-null object
Codeshare          14597 non-null object
Stops              67663 non-null int64
Equipment          67645 non-null object
dtypes: int64(1), object(8)
memory usage: 4.6+ MB

In [24]:
routes.describe()

              Stops
count  67663.000000
mean       0.000163
std        0.012749
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [25]:
routes.shape

(67663, 9)

In [38]:
    # Only searching 3 digit airport codes
    srcAirportDF = airports['IATA'] == 'PDX'
    print(airports[srcAirportDF])

      Airport ID                            Name      City        Country  \
3520        3720  Portland International Airport  Portland  United States

     IATA  ICAO        Lat      Log  Alt Timezone DST          TZ Database  \
3520  PDX  KPDX  45.588699 -122.598   31       -8   A  America/Los_Angeles

         Type       Source
3520  airport  OurAirports

In [40]:
    # Only searching 3 digit airport codes
    srcAirportDF = airports['IATA'] == 'PDX'
    print(type(srcAirportDF))

<class 'pandas.core.series.Series'>

In [41]:
print(type(airports))

<class 'pandas.core.frame.DataFrame'>

First sort by the IATA column, which returns an nd_array of bools (srcAirportDF). Feed this array back into the airport df to return the True row.

In [49]:
#Searching for 4 digit code
srcAirportDF = airports['IATA'] == 'PDX'
Pdx_Info = airports[srcAirportDF]
ICAO_Code = Pdx_Info[['ICAO']]
print(ICAO_Code)

      ICAO
3520  KPDX