In [2]:
!pip3 install pandas
import pandas as pd

ap_col = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Lat', 'Log', 'Alt', 'Timezone', 'DST', 'TZ Database', 'Type', 'Source']
airports = pd.read_csv('./data/airports.dat.txt', header=None, names=ap_col, index_col = 0)
print(airports)

rt_col = ['Airline', 'Airline ID', 'Source Airport', 'Src Airport ID', 'Dest Airport', 'Dest Airport ID', 'Codeshare', 'Stops', 'Equipment']
routes = pd.read_csv('./data/routes.dat.txt', header=None, names=rt_col, index_col = 0)
print(routes)

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (0.25.3)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
WARNING: You are using pip version 19.2.3, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
                                                   Name          City  \
Airport ID
1                                        Goroka Airport        Goroka
2                                        Madang Airport        Madang
3                          Mount Hagen Kagamuga Airport   Mount Hagen
4                                        Nadzab Airport        Nadzab
5           Port Moresby Jacksons International Airport  Port Moresby
...                                                 ...           ...
14106                               Rogachyovo Air Base        Belaya
14107                             Ulan-Ude East Airport      Ulan Ude
14108                              Krechevitsy Air Base      Novgorod
14109                       Desierto de Atacama Airport       Copiapo
14110                                Melitopol Air Base     Melitopol

                     Country IATA  ICAO        Lat         Log   Alt Timezone  \
Airport ID
1           Papua New Guinea  GKA  AYGA  -6.081690  145.391998  5282       10
2           Papua New Guinea  MAG  AYMD  -5.207080  145.789001    20       10
3           Papua New Guinea  HGU  AYMH  -5.826790  144.296005  5388       10
4           Papua New Guinea  LAE  AYNZ  -6.569803  146.725977   239       10
5           Papua New Guinea  POM  AYPY  -9.443380  147.220001   146       10
...                      ...  ...   ...        ...         ...   ...      ...
14106                 Russia   \N  ULDA  71.616699   52.478298   272       \N
14107                 Russia   \N  XIUW  51.849998  107.737999  1670       \N
14108                 Russia   \N  ULLK  58.625000   31.385000    85       \N
14109                  Chile  CPO  SCAT -27.261200  -70.779198   670       \N
14110                Ukraine   \N  UKDM  46.880001   35.305000     0       \N

           DST           TZ Database     Type       Source
Airport ID
1            U  Pacific/Port_Moresby  airport  OurAirports
2            U  Pacific/Port_Moresby  airport  OurAirports
3            U  Pacific/Port_Moresby  airport  OurAirports
4            U  Pacific/Port_Moresby  airport  OurAirports
5            U  Pacific/Port_Moresby  airport  OurAirports
...         ..                   ...      ...          ...
14106       \N                    \N  airport  OurAirports
14107       \N                    \N  airport  OurAirports
14108       \N                    \N  airport  OurAirports
14109       \N                    \N  airport  OurAirports
14110       \N                    \N  airport  OurAirports

[7698 rows x 13 columns]
        Airline ID Source Airport Src Airport ID Dest Airport Dest Airport ID  \
Airline
2B             410            AER           2965          KZN            2990
2B             410            ASF           2966          KZN            2990
2B             410            ASF           2966          MRV            2962
2B             410            CEK           2968          KZN            2990
2B             410            CEK           2968          OVB            4078
...            ...            ...            ...          ...             ...
ZL            4178            WYA           6334          ADL            3341
ZM           19016            DME           4029          FRU            2912
ZM           19016            FRU           2912          DME            4029
ZM           19016            FRU           2912          OSS            2913
ZM           19016            OSS           2913          FRU            2912

        Codeshare  Stops Equipment
Airline
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
...           ...    ...       ...
ZL            NaN      0       SF3
ZM            NaN      0       734
ZM            NaN      0       734
ZM            NaN      0       734
ZM            NaN      0       734

[67663 rows x 8 columns]

In [3]:
routes.Codeshare.unique()

array([nan, 'Y'], dtype=object)

In [6]:
len(routes['Src Airport ID'].unique())

NameError: name 'routes' is not defined

In [14]:
airports.isnull().sum()

Name            0
City           49
Country         0
IATA            0
ICAO            0
Lat             0
Log             0
Alt             0
Timezone        0
DST             0
TZ Database     0
Type            0
Source          0
dtype: int64

In [19]:
route_array = routes['Source Airport']
lengths_4 = len([len(x) for x in route_array if len(x) == 4])
print(lengths_4)

0

No source airport codes with 4 digits

In [20]:
dest_array = routes['Dest Airport ID']
ap_lengths_4 = len([len(x) for x in dest_array if len(x) == 4])
print(ap_lengths_4)

55739

In [11]:
dest_array = routes['Dest Airport']
ap_lengths_3 = len([len(x) for x in dest_array if len(x) == 3])
print(ap_lengths_3)

67663

Destination airport codes has a mix of 3 and 4 digit codes.

In [23]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
Airline            67663 non-null object
Airline ID         67663 non-null object
Source Airport     67663 non-null object
Src Airport ID     67663 non-null object
Dest Airport       67663 non-null object
Dest Airport ID    67663 non-null object
Codeshare          14597 non-null object
Stops              67663 non-null int64
Equipment          67645 non-null object
dtypes: int64(1), object(8)
memory usage: 4.6+ MB

In [24]:
routes.describe()

              Stops
count  67663.000000
mean       0.000163
std        0.012749
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [25]:
routes.shape

(67663, 9)

In [38]:
    # Only searching 3 digit airport codes
    srcAirportDF = airports['IATA'] == 'PDX'
    print(airports[srcAirportDF])

      Airport ID                            Name      City        Country  \
3520        3720  Portland International Airport  Portland  United States

     IATA  ICAO        Lat      Log  Alt Timezone DST          TZ Database  \
3520  PDX  KPDX  45.588699 -122.598   31       -8   A  America/Los_Angeles

         Type       Source
3520  airport  OurAirports

In [40]:
    # Only searching 3 digit airport codes
    srcAirportDF = airports['IATA'] == 'PDX'
    print(type(srcAirportDF))

<class 'pandas.core.series.Series'>

In [41]:
print(type(airports))

<class 'pandas.core.frame.DataFrame'>

First sort by the IATA column, which returns an nd_array of bools (srcAirportDF). Feed this array back into the airport df to return the True row.

In [49]:
#Searching for 4 digit code
srcAirportDF = airports['IATA'] == 'PDX'
Pdx_Info = airports[srcAirportDF]
ICAO_Code = Pdx_Info[['ICAO']]
print(ICAO_Code)

      ICAO
3520  KPDX

In [17]:
src_lat = airports[airports.IATA == 'SFO'].iloc[0]['Lat']
print(src_lat)

37.61899948120117

In [29]:
DEST=airports[airports['IATA'] == 'AOS']
print(DEST)

Empty DataFrame
Columns: [Name, City, Country, IATA, ICAO, Lat, Log, Alt, Timezone, DST, TZ Database, Type, Source]
Index: []

In [23]:
dest_airport = routes['Dest Airport'] == 'SFO'
src_airport = routes['Source Airport'] == 'PDX'
condition = dest_airport & src_airport
newDF = routes[condition]
print(newDF)

        Airline ID Source Airport Src Airport ID Dest Airport Dest Airport ID  \
Airline
AA              24            PDX           3720          SFO            3469
AS             439            PDX           3720          SFO            3469
UA            5209            PDX           3720          SFO            3469
VX            5331            PDX           3720          SFO            3469

        Codeshare  Stops    Equipment
Airline
AA              Y      0      DH4 737
AS            NaN      0      734 73G
UA            NaN      0  319 739 320
VX            NaN      0          320

In [3]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67663 entries, 2B to ZM
Data columns (total 8 columns):
Airline ID         67663 non-null object
Source Airport     67663 non-null object
Src Airport ID     67663 non-null object
Dest Airport       67663 non-null object
Dest Airport ID    67663 non-null object
Codeshare          14597 non-null object
Stops              67663 non-null int64
Equipment          67645 non-null object
dtypes: int64(1), object(7)
memory usage: 4.6+ MB

In [6]:
print(routes)

        Airline ID Source Airport Src Airport ID Dest Airport Dest Airport ID  \
Airline
2B             410            AER           2965          KZN            2990
2B             410            ASF           2966          KZN            2990
2B             410            ASF           2966          MRV            2962
2B             410            CEK           2968          KZN            2990
2B             410            CEK           2968          OVB            4078
...            ...            ...            ...          ...             ...
ZL            4178            WYA           6334          ADL            3341
ZM           19016            DME           4029          FRU            2912
ZM           19016            FRU           2912          DME            4029
ZM           19016            FRU           2912          OSS            2913
ZM           19016            OSS           2913          FRU            2912

        Codeshare  Stops Equipment
Airline
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
...           ...    ...       ...
ZL            NaN      0       SF3
ZM            NaN      0       734
ZM            NaN      0       734
ZM            NaN      0       734
ZM            NaN      0       734

[67663 rows x 8 columns]

In [5]:
routes.set_index('Airline ID')
print(routes)

        Airline ID Source Airport Src Airport ID Dest Airport Dest Airport ID  \
Airline
2B             410            AER           2965          KZN            2990
2B             410            ASF           2966          KZN            2990
2B             410            ASF           2966          MRV            2962
2B             410            CEK           2968          KZN            2990
2B             410            CEK           2968          OVB            4078
...            ...            ...            ...          ...             ...
ZL            4178            WYA           6334          ADL            3341
ZM           19016            DME           4029          FRU            2912
ZM           19016            FRU           2912          DME            4029
ZM           19016            FRU           2912          OSS            2913
ZM           19016            OSS           2913          FRU            2912

        Codeshare  Stops Equipment
Airline
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
2B            NaN      0       CR2
...           ...    ...       ...
ZL            NaN      0       SF3
ZM            NaN      0       734
ZM            NaN      0       734
ZM            NaN      0       734
ZM            NaN      0       734

[67663 rows x 8 columns]

In [12]:
for col in routes.columns :
    print(col)

Airline ID
Source Airport
Src Airport ID
Dest Airport
Dest Airport ID
Codeshare
Stops
Equipment

In [17]:
routes['Airline ID'].astype(str)

Airline
2B      410
2B      410
2B      410
2B      410
2B      410
      ...
ZL     4178
ZM    19016
ZM    19016
ZM    19016
ZM    19016
Name: Airline ID, Length: 67663, dtype: object

In [15]:
routes.dtypes

Airline ID         object
Source Airport     object
Src Airport ID     object
Dest Airport       object
Dest Airport ID    object
Codeshare          object
Stops               int64
Equipment          object
dtype: object

In [19]:
routes[routes['Airline ID'].astype(str) == '24']

,Airline ID,Source Airport,Src Airport ID,Dest Airport,Dest Airport ID,Codeshare,Stops,Equipment
Airline,,,,,,,,
AA,24,ABE,4355,CLT,3876,Y,0,CR9 CR7 CRJ
AA,24,ABE,4355,PHL,3752,NaN,0,DH3
AA,24,ABI,3718,DFW,3670,Y,0,ERD ER4 CRJ
AA,24,ABQ,4019,DFW,3670,NaN,0,M83 M80
AA,24,ABQ,4019,LAX,3484,Y,0,CR7 CRJ
...,...,...,...,...,...,...,...,...
AA,24,ZCL,1855,DFW,3670,Y,0,ERD
AA,24,ZIH,1856,PHX,3462,NaN,0,320
AA,24,ZRH,1678,JFK,3797,NaN,0,763
AA,24,ZRH,1678,LHR,507,Y,0,320 319
AA,24,ZRH,1678,PHL,3752,NaN,0,767

In [20]:
routes['AA']

KeyError: 'AA'

In [21]:
routes.keys()

Index(['Airline ID', 'Source Airport', 'Src Airport ID', 'Dest Airport',
       'Dest Airport ID', 'Codeshare', 'Stops', 'Equipment'],
      dtype='object')

In [23]:
routes.index

Index(['2B', '2B', '2B', '2B', '2B', '2B', '2B', '2B', '2B', '2B',
       ...
       'ZL', 'ZL', 'ZL', 'ZL', 'ZL', 'ZL', 'ZM', 'ZM', 'ZM', 'ZM'],
      dtype='object', name='Airline', length=67663)

In [35]:
routes[(routes.index == 'AA') | (routes.index == 'AS')]

,Airline ID,Source Airport,Src Airport ID,Dest Airport,Dest Airport ID,Codeshare,Stops,Equipment
Airline,,,,,,,,
AA,24,ABE,4355,CLT,3876,Y,0,CR9 CR7 CRJ
AA,24,ABE,4355,PHL,3752,NaN,0,DH3
AA,24,ABI,3718,DFW,3670,Y,0,ERD ER4 CRJ
AA,24,ABQ,4019,DFW,3670,NaN,0,M83 M80
AA,24,ABQ,4019,LAX,3484,Y,0,CR7 CRJ
...,...,...,...,...,...,...,...,...
AS,439,YVR,156,SEA,3577,Y,0,DH4
AS,439,YYC,178,SEA,3577,Y,0,DH4
AS,439,YYJ,184,SEA,3577,Y,0,DH4
AS,439,ZIH,1856,LAX,3484,NaN,0,739
AS,439,ZLO,1858,LAX,3484,NaN,0,73H